.wrapper {
    min-width: 400px;
    width: 60vw;
    max-width: 1200px;
    margin: 0px auto;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 20px auto;
}

h1 {
    margin: 0px;
}

.image_container {
    height: 600px;
}

.recipe_toolbar {
    width: 100%;
    position: relative;
}

.recipe_toolbar a {

    text-decoration: none;

    padding: 16px;
    background-color: aquamarine;

    border-radius: 16px;

    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    text-decoration: none;
    color: black;

    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8DC26F, #76b852);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.delete {
    background: red !important;
}

.action_buttons_wrapper {
    position: absolute;
    right: 0px;
    top: 10px;
}


.action_buttons_wrapper a {
    margin: 5px;
}
